.t{
  width:1rem;
}

.product-image {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.envato-market-dde916a48af7413e-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 9.5rem;
  height: 1.13rem;
  overflow: hidden;
}
.envato-market {
  position: absolute;
  top: 1.25rem;
  left: -624.94rem;
  text-decoration: underline;
  line-height: 3.38rem;
  display: flex;
  align-items: center;
  width: 4.85rem;
  height: 0.88rem;
}
.link {
  position: absolute;
  top: 1.13rem;
  right: 109.25rem;
  width: 9.5rem;
  height: 1.13rem;
}
.search {
  position: relative;
}
.divplaceholder,
.input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divplaceholder {
  overflow: hidden;
  padding: var(--padding-0) 21.53rem var(--padding-0) var(--padding-0);
}
.input {
  flex: 1;
  border-radius: var(--br-8xs-8) 0 0 var(--br-8xs-8);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  padding: 0.56rem 2.13rem 0.63rem var(--padding-base);
  z-index: 1;
}
.button-icon {
  position: relative;
  border-radius: 0 var(--br-8xs-8) var(--br-8xs-8) 0;
  width: 3.29rem;
  height: 3rem;
  z-index: 0;
}
.divinput-group {
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12xs);
  align-items: center;
  justify-content: flex-start;
}
.link-icon,
.link-icon1 {
  position: absolute;
  top: 1.69rem;
  left: 1.5rem;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
}
.link-icon1 {
  top: 1.56rem;
  left: 19.4rem;
}
.link-image {
  position: absolute;
  top: calc(50% - 11.87px);
  left: 4.75rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.john-quinn,
.small-admin {
  position: relative;
  line-height: 0.94rem;
}
.small-admin {
  font-size: 0.77rem;
  line-height: 1.15rem;
  text-align: left;
}
.divu-info {
  position: absolute;
  top: calc(50% - 18.19px);
  left: -0.06rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 0.02rem 0.02rem var(--padding-0);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.13rem;
}
.button-profile-av2a63d0b0s {
  position: absolute;
  top: calc(50% - 36px);
  left: 5.4rem;
  border-radius: 28px;
  width: 3.5rem;
  height: 3.5rem;
}
.divdropdown {
  position: absolute;
  top: calc(50% - 36px);
  left: 10rem;
  width: 8.9rem;
  height: 4.5rem;
}
.link-icon2 {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.spanpulse-ring {
  position: absolute;
  margin: 0 !important;
  top: 0.5rem;
  left: 1.06rem;
  border-radius: 45px;
  border: 5px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 1.19rem;
  height: 1.19rem;
  opacity: 0.88;
  z-index: 1;
}
.divnotifications {
  position: absolute;
  top: calc(50% - 19px);
  left: 6.75rem;
  display: flex;
  flex-direction: row;
  padding: 1.75rem var(--padding-base) var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.divh-right {
  position: relative;
  width: 20.65rem;
  height: 4.5rem;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.nav {
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 0.75rem var(--padding-0) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 43.35rem;
}
.divavatar-icon {
  position: relative;
  border-radius: var(--br-9xs);
  width: 2.5rem;
  height: 2.5rem;
}
.div,
.revenue {
  position: absolute;
  top: -0.12rem;
  left: 0;
  line-height: 1.2rem;
  display: flex;
  align-items: center;
  width: 4.04rem;
  height: 1.38rem;
}
.div {
  top: 1.39rem;
  font-size: 0.77rem;
  line-height: 1.15rem;
  width: 2.84rem;
  height: 1.06rem;
}
.divflex-fill {
  flex: 1;
  position: relative;
  height: 2.54rem;
  overflow: hidden;
}
.divalert-success,
.divd-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divd-flex {
  padding: 0.02rem var(--padding-0) var(--padding-0);
  gap: var(--gap-base);
}
.divalert-success {
  border-radius: var(--br-9xs);
  background-color: #d1e7dd;
  border: 1px solid #badbcc;
  padding: var(--padding-mid) var(--padding-mid) 1.04rem;
}
.expense {
  position: absolute;
  top: -0.12rem;
  left: 0;
  line-height: 1.2rem;
  display: flex;
  align-items: center;
  width: 3.92rem;
  height: 1.38rem;
}
.divalert-danger {
  border-radius: var(--br-9xs);
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-mid) 1.04rem;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-brown);
}
.div2,
.happy-clients {
  position: absolute;
  top: -0.12rem;
  left: 0;
  line-height: 1.2rem;
  display: flex;
  align-items: center;
  width: 6.43rem;
  height: 1.38rem;
}
.div2 {
  top: 1.39rem;
  font-size: 0.77rem;
  line-height: 1.15rem;
  width: 1.96rem;
  height: 1.06rem;
}
.divalert-warning {
  border-radius: var(--br-9xs);
  background-color: #fff3cd;
  border: 1px solid #ffecb5;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-mid) 1.04rem;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-saddlebrown);
}
.new-storeopen {
  position: absolute;
  top: -0.12rem;
  left: 0;
  line-height: 1.2rem;
  display: flex;
  align-items: center;
  width: 7.4rem;
  height: 1.38rem;
}
.divalert-info,
.divrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divalert-info {
  border-radius: var(--br-9xs);
  background-color: #cff4fc;
  border: 1px solid #b6effb;
  padding: var(--padding-mid) var(--padding-mid) 1.04rem;
  color: var(--color-darkslategray-100);
}
.divrow {
  position: absolute;
  top: -1rem;
  left: 0.25rem;
  padding: var(--padding-base) var(--padding-5xs) var(--padding-0);
  gap: var(--gap-base);
  color: var(--color-darkslategray-200);
}
.today {
  position: relative;
  line-height: 1.31rem;
}
.tab {
  position: absolute;
  top: 0.06rem;
  left: 0.06rem;
  background-color: var(--color-mediumslateblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 0.97rem var(--padding-5xs) var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
}
.tab-month,
.tab-week,
.tab-year {
  position: absolute;
  top: 0.56rem;
  left: 5.53rem;
  line-height: 1.31rem;
}
.tab-month,
.tab-year {
  left: 9.78rem;
}
.tab-year {
  left: 14.48rem;
}
.tablist {
  position: relative;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 17.37rem;
  height: 2.44rem;
  overflow: hidden;
  flex-shrink: 0;
}
.div4,
.div5,
.spinbutton-day,
.spinbutton-month,
.spinbutton-year {
  position: absolute;
  top: 0.06rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  height: 1.38rem;
}
.spinbutton-month {
  left: 0;
  width: 1.86rem;
}
.div4,
.div5,
.spinbutton-day,
.spinbutton-year {
  left: 1.85rem;
  width: 0.38rem;
}
.div5,
.spinbutton-day,
.spinbutton-year {
  left: 2.22rem;
  width: 1.24rem;
}
.div5,
.spinbutton-year {
  left: 3.44rem;
  width: 0.38rem;
}
.spinbutton-year {
  left: 3.81rem;
  width: 2.02rem;
}
.divdate-time-edit {
  flex: 1;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
}
.input1 {
  flex: 1;
  border-radius: var(--br-9xs) 0 0 var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-13xl) var(--padding-7xs)
    var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.button-icon1 {
  position: relative;
  border-radius: 0 var(--br-9xs) var(--br-9xs) 0;
  width: 2.88rem;
  height: 2.38rem;
}
.divinput-group1,
.divtab-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.divinput-group1 {
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12xs);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.divtab-filter {
  gap: 65.32rem;
}
.b {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 1.5rem;
  color: var(--color-gray-100);
}
.divleft-info {
  position: absolute;
  top: calc(50% - 22.5px);
  left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon {
  position: absolute;
  top: 1.9rem;
  left: 28.19rem;
  width: 2.02rem;
  height: 2rem;
  overflow: hidden;
}
.divcard-body {
  flex: 1;
  position: relative;
  height: 5.81rem;
}
.divcard {
  top: 1rem;
  left: 0.5rem;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  flex-direction: row;
  padding: var(--padding-12xs);
}
.divcard,
.divcard1,
.divleft-info1 {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divleft-info1 {
  top: calc(50% - 22.5px);
  left: 1rem;
  flex-direction: column;
  padding: var(--padding-0) 0.35rem var(--padding-0) var(--padding-0);
}
.divcard1 {
  top: 1rem;
  left: 32.83rem;
}
.divcard1,
.divcard2,
.divcard3,
.divcard4 {
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  flex-direction: row;
  padding: var(--padding-12xs);
}
.divcard2 {
  position: absolute;
  top: 1rem;
  left: 65.17rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcard3,
.divcard4 {
  top: 7.94rem;
}
.divcard3 {
  position: absolute;
  left: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcard4 {
  left: 32.83rem;
}
.divcard4,
.divcard5,
.divcard6,
.divcard7,
.divcard8,
.divleft-info5 {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divleft-info5 {
  top: calc(50% - 22.5px);
  left: 1rem;
  flex-direction: column;
  padding: var(--padding-0) 0.36rem var(--padding-0) var(--padding-0);
}
.divcard5,
.divcard6,
.divcard7,
.divcard8 {
  top: 7.94rem;
  left: 65.17rem;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  flex-direction: row;
  padding: var(--padding-12xs);
}
.divcard6,
.divcard7,
.divcard8 {
  top: 14.88rem;
  left: 0.5rem;
}
.divcard7,
.divcard8 {
  left: 32.83rem;
}
.divcard8 {
  left: 65.17rem;
}
.tabpanel {
  position: relative;
  width: 97rem;
  height: 20.81rem;
  color: var(--color-darkgray);
}
.divrow1 {
  position: absolute;
  top: 5.66rem;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 0.25rem var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.heading-6 {
  position: relative;
  line-height: 1.2rem;
}
.svgjsrect1011-icon {
  position: absolute;
  height: 89.79%;
  top: 12.01%;
  bottom: -1.8%;
  left: 3.69%;
  max-height: 100%;
  width: 0;
  opacity: 0;
}
.svgjstext1068 {
  position: absolute;
  top: 0;
  left: 36.36%;
}
.svgjstext1070,
.svgjstext1072 {
  position: absolute;
  top: 18.7%;
  left: 3.03%;
}
.svgjstext1072 {
  top: 37.4%;
  left: 0;
}
.svgjstext1074,
.svgjstext1076 {
  position: absolute;
  top: 56.1%;
  left: 6.06%;
}
.svgjstext1076 {
  top: 74.8%;
}
.svgjsg1067,
.svgjstext1078 {
  position: absolute;
  top: 93.5%;
  left: 42.42%;
}
.svgjsg1067 {
  height: 89.53%;
  width: 68.75%;
  top: 3.76%;
  right: 31.25%;
  bottom: 6.71%;
  left: 0;
}
.svgjsline1080-icon {
  position: absolute;
  height: 100%;
  width: 2.08%;
  top: 0;
  right: -1.04%;
  bottom: 0;
  left: 98.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.svgjsg1066 {
  position: absolute;
  height: 89.39%;
  width: 3.21%;
  top: 0.6%;
  right: 96.79%;
  bottom: 10.01%;
  left: 0;
}
.svgjstext1047 {
  position: absolute;
  top: 0;
  left: 98.76%;
}
.svgjstext1050,
.svgjstext1053 {
  position: absolute;
  top: 0;
  left: 79.01%;
}
.svgjstext1053 {
  left: 59.33%;
}
.svgjstext1056,
.svgjstext1059 {
  position: absolute;
  top: 0;
  left: 39.57%;
}
.svgjstext1059 {
  left: 19.75%;
}
.svgjsg1046,
.svgjstext1062 {
  position: absolute;
  top: 0;
  left: 0;
}
.svgjsg1046 {
  height: 60%;
  width: 100%;
  top: 40%;
  right: 0;
  bottom: 0;
}
.svgjsline1065-icon {
  position: absolute;
  height: 4%;
  width: 98.73%;
  top: -2%;
  right: 0.62%;
  bottom: 98%;
  left: 0.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.svgjsg1045 {
  position: absolute;
  height: 10.01%;
  width: 97.42%;
  top: 89.99%;
  right: 0;
  bottom: 0;
  left: 2.58%;
  text-align: center;
  font-size: var(--font-size-xs);
}
.svgjsg1081-icon {
  height: 92.8%;
  width: 96.35%;
  top: 0;
  right: 0.47%;
  bottom: 7.2%;
  left: 3.18%;
  max-height: 100%;
}
.svgjsg1014-icon,
.svgjsg1081-icon,
.svgjsline1106-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
}
.svgjsg1014-icon {
  height: 90.19%;
  width: 96.52%;
  top: 0;
  right: 0.44%;
  bottom: 9.81%;
  left: 3.05%;
  max-height: 100%;
}
.svgjsline1106-icon {
  width: 96.18%;
  top: 12.01%;
  right: 0.12%;
  left: 3.69%;
  height: 0;
  opacity: 0;
}
.svgjsg1003 {
  position: absolute;
  height: 80.6%;
  width: 99.46%;
  top: 9.52%;
  right: 0.07%;
  bottom: 9.89%;
  left: 0.48%;
}
.svg,
.svgjssvg1001 {
  width: 93.88rem;
  height: 19.38rem;
}
.svgjssvg1001 {
  position: absolute;
  top: 0;
  left: calc(50% - 751px);
}
.svg {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  text-align: right;
  font-size: var(--font-size-2xs);
  font-family: var(--font-inter);
}
.divcard9 {
  position: absolute;
  top: 30.16rem;
  left: 0.75rem;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-mid) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.01rem;
}
.svgjsline1117-icon {
  position: absolute;
  height: 80.94%;
  top: 19.06%;
  bottom: 0;
  left: 1.19%;
  max-height: 100%;
  width: 0;
  opacity: 0;
}
.svgjstext1161 {
  position: absolute;
  top: 0;
  left: 16.17%;
}
.svgjstext1164,
.svgjstext1167 {
  position: absolute;
  top: 0;
  left: 32.69%;
}
.svgjstext1167 {
  left: 48.75%;
}
.svgjstext1170,
.svgjstext1173 {
  position: absolute;
  top: 0;
  left: 65.28%;
}
.svgjstext1173 {
  left: 81.95%;
}
.svgjsg1156,
.svgjstext1176 {
  position: absolute;
  top: 0;
  left: 98.07%;
}
.svgjsg1156 {
  height: 55.56%;
  width: 100%;
  top: 44.44%;
  right: 0;
  bottom: 0;
  left: 0;
}
.svgjsline1178-icon {
  position: absolute;
  height: 3.7%;
  width: 97.92%;
  top: -1.85%;
  right: 0.97%;
  bottom: 98.15%;
  left: 1.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.svgjsg1155 {
  position: absolute;
  height: 10.29%;
  width: 97.67%;
  top: 89.71%;
  right: 1.24%;
  bottom: 0;
  left: 1.09%;
}
.svgjsg1120-icon,
.svgjsg1180-icon {
  position: absolute;
  height: 83.8%;
  width: 95.73%;
  top: 8.2%;
  right: 2.14%;
  bottom: 8%;
  left: 2.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.svgjsg1120-icon {
  height: 97.71%;
  width: 100%;
  top: 0;
  right: -0.99%;
  bottom: 2.29%;
  left: 0.99%;
}
.svgjsline1203-icon,
.svgjsrect1208-icon {
  position: absolute;
  top: 19.06%;
  left: 1.19%;
  max-width: 100%;
  overflow: hidden;
}
.svgjsline1203-icon {
  width: 95.63%;
  right: 3.18%;
  height: 0;
  opacity: 0;
}
.svgjsrect1208-icon {
  height: 38.12%;
  width: 9.93%;
  right: 88.88%;
  bottom: 42.82%;
  max-height: 100%;
}
.svgjsg1113 {
  position: absolute;
  height: 87.45%;
  width: 102.23%;
  top: 9.33%;
  right: -1.22%;
  bottom: 3.22%;
  left: -1.02%;
}
.svgjsrect1116-icon {
  position: absolute;
  height: 33.33%;
  width: 10.15%;
  top: 0;
  right: 89.85%;
  bottom: 66.67%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.svg1,
.svgjssvg1111 {
  width: 61.56rem;
  height: 18.75rem;
}
.svgjssvg1111 {
  position: absolute;
  top: 0;
  left: calc(50% - 492.5px);
}
.svg1 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
}
.divcard10 {
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 1.04rem var(--padding-13xl) var(--padding-mid);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.01rem;
}
.svgjsrect1220-icon {
  position: absolute;
  height: 88.35%;
  width: 5.81%;
  top: 20.8%;
  right: 89.33%;
  bottom: -9.15%;
  left: 4.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.svgjstext1286,
.svgjstext1289 {
  position: absolute;
  top: 0;
  left: 8.86%;
}
.svgjstext1289 {
  left: 16.87%;
}
.svgjstext1292,
.svgjstext1295 {
  position: absolute;
  top: 0;
  left: 26.64%;
}
.svgjstext1295 {
  left: 35.28%;
}
.svgjstext1298,
.svgjstext1301 {
  position: absolute;
  top: 0;
  left: 44.31%;
}
.svgjstext1301 {
  left: 53%;
}
.svgjstext1304,
.svgjstext1307 {
  position: absolute;
  top: 0;
  left: 61.92%;
}
.svgjstext1307 {
  left: 70.55%;
}
.svgjstext1310,
.svgjstext1313 {
  position: absolute;
  top: 0;
  left: 79.76%;
}
.svgjstext1313 {
  left: 88.51%;
}
.svgjsg1281,
.svgjstext1316 {
  position: absolute;
  top: 0;
  left: 97.37%;
}
.svgjsg1281 {
  height: 55.56%;
  width: 94.03%;
  top: 44.44%;
  right: 2.93%;
  bottom: 0;
  left: 3.04%;
}
.svgjsline1318-icon {
  position: absolute;
  height: 3.7%;
  width: 100%;
  top: -1.85%;
  right: 0;
  bottom: 98.15%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.svgjsg1280 {
  position: absolute;
  height: 11.23%;
  width: 99.57%;
  top: 88.77%;
  right: 0.21%;
  bottom: 0;
  left: 0.21%;
}
.svgjsg1339-icon {
  height: 91.47%;
  width: 99.68%;
  top: -0.21%;
  right: 0.16%;
  bottom: 8.74%;
  left: 0.16%;
  max-height: 100%;
}
.svgjsg1223-icon,
.svgjsg1339-icon,
.svgjsline1363-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
}
.svgjsg1223-icon {
  height: 88.35%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 11.65%;
  left: 0;
  max-height: 100%;
}
.svgjsline1363-icon {
  width: 99.57%;
  top: 20.8%;
  right: -4.43%;
  left: 4.86%;
  height: 0;
  opacity: 0;
}
.svgjsg1212 {
  position: absolute;
  height: 80.12%;
  width: 94.79%;
  top: 16.67%;
  right: 0.81%;
  bottom: 3.22%;
  left: 4.4%;
}
.svgjstext1325 {
  position: absolute;
  top: 18.85%;
  left: 9.52%;
}
.svgjstext1328,
.svgjstext1331 {
  position: absolute;
  top: 37.69%;
  left: 9.52%;
}
.svgjstext1331 {
  top: 56.54%;
  left: 33.33%;
}
.svgjstext1334,
.svgjstext1337 {
  position: absolute;
  top: 75.38%;
  left: 33.33%;
}
.svgjstext1337 {
  top: 94.23%;
  left: 66.67%;
}
.svgjsg1319,
.svgjsg1320 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.svgjsg1319 {
  height: 75.12%;
  width: 2.13%;
  top: 13.5%;
  right: 96.41%;
  bottom: 11.38%;
  left: 1.46%;
  text-align: right;
  font-size: var(--font-size-2xs);
}
.divcol-xxl-8 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 0.5rem var(--padding-0) var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.heading-63 {
  position: absolute;
  top: 0.94rem;
  left: 1rem;
  line-height: 1.2rem;
}
.staticmapservicegetmapimage-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.31rem;
  height: 22.81rem;
  object-fit: cover;
}
.div7 {
  position: relative;
  width: 29.31rem;
  height: 22.81rem;
  overflow: hidden;
  flex-shrink: 0;
}
.body1,
.iframe1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iframe1 {
  position: absolute;
  width: calc(100% - 30px);
  top: 4.14rem;
  right: 0.94rem;
  left: 0.94rem;
  padding: var(--padding-0) 0.02rem var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.div6 {
  position: relative;
  width: 31.21rem;
  height: 28.2rem;
}
.india {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  line-height: 1.31rem;
}
.progressbar {
  position: relative;
  background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    ),
    #0d6efd;
  width: 8.76rem;
  height: 0.56rem;
  overflow: hidden;
  flex-shrink: 0;
}
.divprogress {
  position: absolute;
  width: 100%;
  top: 3.31rem;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 20.95rem var(--padding-0) var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.mauritius {
  position: absolute;
  top: 4.88rem;
  left: 0.5rem;
  line-height: 1.31rem;
}
.progressbar1 {
  position: relative;
  background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    ),
    #198754;
  width: 13.14rem;
  height: 0.56rem;
  overflow: hidden;
  flex-shrink: 0;
}
.divprogress1 {
  position: absolute;
  width: 100%;
  top: 7.19rem;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 16.56rem var(--padding-0) var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.colombia {
  position: absolute;
  top: 8.75rem;
  left: 0.5rem;
  line-height: 1.31rem;
}
.progressbar2 {
  position: relative;
  background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    ),
    #0dcaf0;
  width: 17.52rem;
  height: 0.56rem;
  overflow: hidden;
  flex-shrink: 0;
}
.divprogress2 {
  position: absolute;
  width: 100%;
  top: 11.06rem;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 12.18rem var(--padding-0) var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.russia {
  position: absolute;
  top: 12.63rem;
  left: 0.5rem;
  line-height: 1.31rem;
}
.progressbar3 {
  position: relative;
  background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    ),
    #ffc107;
  width: 21.91rem;
  height: 0.56rem;
  overflow: hidden;
  flex-shrink: 0;
}
.divprogress3 {
  position: absolute;
  width: 100%;
  top: 14.94rem;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 7.8rem var(--padding-0) var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.france {
  position: absolute;
  top: 16.5rem;
  left: 0.5rem;
  line-height: 1.31rem;
}
.progressbar4 {
  position: relative;
  background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    ),
    #dc3545;
  width: 28.62rem;
  height: 0.56rem;
  overflow: hidden;
  flex-shrink: 0;
}
.divprogress4 {
  position: absolute;
  width: 100%;
  top: 18.81rem;
  right: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 1.08rem var(--padding-0) var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divlocation-revenue {
  position: relative;
  width: 30.21rem;
  height: 19.38rem;
  font-size: var(--font-size-sm);
}
.divcard12,
.divrow2 {
  display: flex;
  justify-content: flex-start;
}
.divcard12 {
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-12xs) var(--padding-mid);
  align-items: center;
}
.divrow2 {
  position: absolute;
  top: 55.8rem;
  left: 0.25rem;
  flex-direction: row;
  padding: var(--padding-base) 0.5rem var(--padding-0) var(--padding-0);
  align-items: flex-start;
  gap: 0.5rem;
}
.heading-64 {
  position: absolute;
  top: 1rem;
  left: 1.06rem;
  line-height: 1.2rem;
}
.b9 {
  position: relative;
  line-height: 2.02rem;
}
.divp-4 {
  border-radius: var(--br-9xs);
  background-color: #a7daff;
  display: flex;
  flex-direction: row;
  padding: 1.44rem 12.29rem 1.52rem;
  align-items: flex-start;
  justify-content: flex-start;
}
.active-pages {
  position: relative;
  line-height: 1.13rem;
  text-transform: uppercase;
}
.cell,
.cell1 {
  border-bottom: 1px solid var(--color-whitesmoke);
}
.cell {
  display: flex;
  flex-direction: row;
  padding: 0.8rem 15.86rem 0.86rem 0.8rem;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell1 {
  padding: 0.8rem 4.25rem 0.86rem 0.8rem;
}
.cell1,
.data,
.data1,
.data2,
.data3,
.data4,
.data5,
.data6,
.data8,
.header-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-row {
  padding: var(--padding-0) 0 var(--padding-0) var(--padding-0);
}
.data,
.data1,
.data2,
.data3,
.data4,
.data5,
.data6,
.data8 {
  border-bottom: 1px solid var(--color-whitesmoke);
  padding: 0.86rem 13.55rem 0.83rem 0.8rem;
}
.data1,
.data2,
.data3,
.data4,
.data5,
.data6,
.data8 {
  padding: 0.86rem 5rem 0.83rem 0.8rem;
}
.data2,
.data3,
.data4,
.data5,
.data6,
.data8 {
  padding: 0.83rem 11.67rem 0.83rem 0.8rem;
}
.data3,
.data4,
.data5,
.data6,
.data8 {
  padding: 0.83rem 5rem 0.83rem 0.8rem;
}
.data4,
.data5,
.data6,
.data8 {
  padding: 0.83rem 11.24rem 0.83rem 0.8rem;
}
.data5,
.data6,
.data8 {
  padding: 0.83rem 5.5rem 0.83rem 0.8rem;
}
.data6,
.data8 {
  padding: 0.83rem 11.42rem 0.83rem 0.8rem;
}
.data8 {
  padding: 0.83rem 10.99rem 0.83rem 0.8rem;
}
.body2,
.table {
  flex-direction: column;
}
.body2 {
  border-top: 2px solid var(--color-gray-100);
  display: flex;
  padding: var(--padding-0) var(--padding-0) 0;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
}
.table {
  padding: var(--padding-0) var(--padding-0) 0.03rem;
}
.divcard-body9,
.divtable-responsive,
.table {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divtable-responsive {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) var(--padding-base);
  font-size: var(--font-size-xs);
}
.divcard-body9 {
  position: absolute;
  top: 3.26rem;
  left: 0.06rem;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-base) 1rem;
  gap: 0.5rem;
  font-size: 2.02rem;
}
.divcard13 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 31.33rem;
  height: 29.57rem;
}
.avg-expense-costs,
.div13 {
  position: absolute;
  top: 0.94rem;
  left: 1rem;
  line-height: 2.4rem;
}
.avg-expense-costs {
  top: 3.52rem;
  font-size: 0.77rem;
  line-height: 1.15rem;
  color: var(--color-darkgray);
}
.svgjsrect1377-icon {
  position: absolute;
  height: 89.64%;
  width: 6.01%;
  top: 11.1%;
  right: 92.82%;
  bottom: -0.74%;
  left: 1.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.svgjstext1444,
.svgjstext1447 {
  position: absolute;
  top: 0;
  left: 8.89%;
}
.svgjstext1447 {
  left: 17.01%;
}
.svgjstext1450,
.svgjstext1453 {
  position: absolute;
  top: 0;
  left: 26.71%;
}
.svgjstext1453 {
  left: 35.4%;
}
.svgjstext1456,
.svgjstext1459 {
  position: absolute;
  top: 0;
  left: 44.44%;
}
.svgjstext1459 {
  left: 53.17%;
}
.svgjstext1462,
.svgjstext1465 {
  position: absolute;
  top: 0;
  left: 62.11%;
}
.svgjstext1465 {
  left: 70.8%;
}
.svgjstext1468,
.svgjstext1471 {
  position: absolute;
  top: 0;
  left: 79.99%;
}
.svgjstext1471 {
  left: 88.78%;
}
.svgjsg1439,
.svgjstext1474 {
  position: absolute;
  top: 0;
  left: 97.66%;
}
.svgjsg1439 {
  height: 55.56%;
  width: 96.73%;
  top: 44.44%;
  right: 0;
  bottom: 0;
  left: 3.27%;
}
.svgjsline1476-icon {
  position: absolute;
  height: 3.7%;
  width: 94.57%;
  top: -1.85%;
  right: 5.43%;
  bottom: 98.15%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.svgjsg1438 {
  position: absolute;
  height: 9.99%;
  width: 99.8%;
  top: 90.01%;
  right: 0;
  bottom: 0;
  left: 0.2%;
}
.svgjsg1381-icon,
.svgjsg1478-icon {
  position: absolute;
  height: 92.42%;
  width: 94.48%;
  top: -0.18%;
  right: 5.37%;
  bottom: 7.77%;
  left: 0.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.svgjsg1381-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.svgjsg1385,
.svgjsg1390 {
  position: absolute;
  height: 23.45%;
  width: 2.88%;
  top: 46.99%;
  right: 97.12%;
  bottom: 29.56%;
  left: 0;
}
.svgjsg1390 {
  width: 3.1%;
  top: 34.61%;
  right: 87.31%;
  bottom: 41.94%;
  left: 9.59%;
}
.svgjsg1395,
.svgjsg1400,
.svgjsg1405 {
  position: absolute;
  height: 23.45%;
  width: 2.88%;
  top: 51.28%;
  right: 77.72%;
  bottom: 25.26%;
  left: 19.4%;
}
.svgjsg1400,
.svgjsg1405 {
  width: 3.1%;
  top: 52.55%;
  right: 67.91%;
  bottom: 24%;
  left: 28.99%;
}
.svgjsg1405 {
  width: 2.88%;
  top: 51.79%;
  right: 58.32%;
  bottom: 24.76%;
  left: 38.8%;
}
.svgjsg1410,
.svgjsg1415,
.svgjsg1420 {
  position: absolute;
  height: 23.45%;
  width: 3.1%;
  top: 76.04%;
  right: 48.5%;
  bottom: 0.51%;
  left: 48.39%;
}
.svgjsg1415,
.svgjsg1420 {
  width: 2.99%;
  top: 0;
  right: 38.86%;
  bottom: 76.55%;
  left: 58.15%;
}
.svgjsg1420 {
  width: 3.1%;
  top: 26.27%;
  right: 29.1%;
  bottom: 50.27%;
  left: 67.79%;
}
.svgjsg1425,
.svgjsg1430,
.svgjsg1435 {
  position: absolute;
  height: 23.45%;
  width: 3.21%;
  top: 76.55%;
  right: 19.35%;
  bottom: 0;
  left: 77.44%;
}
.svgjsg1430,
.svgjsg1435 {
  width: 3.1%;
  top: 29.81%;
  right: 9.7%;
  bottom: 46.74%;
  left: 87.2%;
}
.svgjsg1435 {
  top: 16.67%;
  right: 0;
  bottom: 59.87%;
  left: 96.9%;
}
.svgjsg1380,
.svgjsg1382 {
  position: absolute;
  height: 26.39%;
  width: 93.33%;
  top: 13.03%;
  right: 3.29%;
  bottom: 60.59%;
  left: 3.39%;
}
.svgjsg1380 {
  height: 89.64%;
  width: 94.78%;
  top: 0;
  right: 5.22%;
  bottom: 10.36%;
  left: 0;
}
.svgjsline1502-icon {
  position: absolute;
  width: 94.39%;
  top: 11.1%;
  right: 4.44%;
  left: 1.18%;
  max-width: 100%;
  overflow: hidden;
  height: 0;
  opacity: 0;
}
.svgjsg1370 {
  position: absolute;
  height: 87.21%;
  width: 103.58%;
  top: 9.68%;
  right: -4.6%;
  bottom: 3.11%;
  left: 1.02%;
}
.svg3,
.svgjssvg1368 {
  position: absolute;
  width: 61.56rem;
  height: 19.38rem;
}
.svgjssvg1368 {
  top: 0;
  left: calc(50% - 492.5px);
}
.svg3 {
  top: calc(50% - 132.61px);
  left: 1rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
}
.divcard-body10 {
  position: absolute;
  top: 3.26rem;
  left: 0.06rem;
  width: 63.54rem;
  height: 26.05rem;
  font-size: 2rem;
}
.divcard14 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 63rem;
  height: 29.37rem;
}
.divrow3 {
  position: absolute;
  top: 107.82rem;
  left: 0.25rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) 0.5rem var(--padding-0) var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.columnheader,
.columnheader1,
.columnheader2,
.columnheader3,
.divsc-evzas {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divsc-evzas {
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.columnheader,
.columnheader1,
.columnheader2,
.columnheader3 {
  padding: var(--padding-mid) 12.83rem var(--padding-mid) var(--padding-0);
}
.columnheader1,
.columnheader2,
.columnheader3 {
  padding: var(--padding-mid) 11.83rem var(--padding-mid) var(--padding-0);
}
.columnheader2,
.columnheader3 {
  padding: var(--padding-mid) 6.65rem var(--padding-mid) var(--padding-0);
}
.columnheader3 {
  padding: var(--padding-mid) 7.9rem var(--padding-mid) var(--padding-0);
}
.columnheader4 {
  overflow: hidden;
  padding: var(--padding-mid) 11.52rem var(--padding-mid) var(--padding-0);
}
.columnheader4,
.columnheader5,
.gridcell,
.rowgroup-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.columnheader5 {
  overflow: hidden;
  padding: var(--padding-mid) 10.83rem var(--padding-mid) var(--padding-0);
}
.gridcell,
.rowgroup-row {
  position: absolute;
}
.rowgroup-row {
  width: calc(100% + 0.01px);
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: var(--padding-0) 1rem var(--padding-12xs) var(--padding-base);
  gap: 2rem;
}
.gridcell {
  top: calc(50% - 9.5px);
  left: 1rem;
  overflow: hidden;
}
.product-3c048ad5cjpg-icon {
  position: absolute;
  top: calc(50% - 28px);
  left: 1rem;
  border-radius: var(--br-9xs);
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
}
.note-diaries {
  position: absolute;
  top: 1.99rem;
  left: 5rem;
  display: flex;
  align-items: center;
  width: 4.7rem;
  height: 6rem;
}
.gridcell1 {
  position: absolute;
  top: 0;
  left: 15.65rem;
  width: 15.65rem;
  height: 5.1rem;
}
.gridcell2,
.gridcell3,
.gridcell4 {
  position: absolute;
  top: calc(50% - 9.5px);
  left: 32.29rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.gridcell3,
.gridcell4 {
  left: 47.94rem;
}
.gridcell4 {
  left: 63.58rem;
}
.complited {
  position: relative;
  line-height: 0.61rem;
}
.gridcell5 {
  position: absolute;
  top: calc(50% - 8.78px);
  left: 79.23rem;
  border-radius: var(--br-9xs);
  background-color: var(--color-seagreen);
  display: flex;
  flex-direction: row;
  padding: 0.21rem 0.34rem 0.2rem 0.4rem;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 0.61rem;
  color: var(--color-white);
}
.row5 {
  position: relative;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 93.88rem;
  height: 10rem;
}
.gridcell6 {
  position: absolute;
  top: calc(50% - 9.49px);
  left: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-2cc489b84jpg-icon {
  position: absolute;
  top: calc(50% - 27.99px);
  left: 1rem;
  border-radius: var(--br-9xs);
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
}
.wall-clock {
  position: absolute;
  top: 1.99rem;
  left: 5rem;
  display: flex;
  align-items: center;
  width: 3.86rem;
  height: 1.13rem;
}
.gridcell10,
.gridcell8,
.gridcell9 {
  position: absolute;
  top: calc(50% - 9.49px);
  left: 32.29rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.gridcell10,
.gridcell9 {
  left: 47.94rem;
}
.gridcell10 {
  left: 63.58rem;
}
.oculus-vr {
  top: 1.99rem;
  left: 5rem;
  align-items: center;
  width: 3.82rem;
  height: 1.13rem;
}
.flower-port,
.gridcell17,
.oculus-vr {
  position: absolute;
  display: flex;
}
.gridcell17 {
  top: calc(50% - 8.77px);
  left: 79.23rem;
  border-radius: var(--br-9xs);
  background-color: var(--color-gold);
  flex-direction: row;
  padding: 0.21rem 0.39rem 0.2rem 0.4rem;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 0.61rem;
  color: var(--color-white);
}
.flower-port {
  top: 1.99rem;
  left: 5rem;
  align-items: center;
  width: 4.35rem;
  height: 1.13rem;
}
.gridcell23 {
  top: calc(50% - 8.78px);
  left: 79.23rem;
  border-radius: var(--br-9xs);
  background-color: var(--color-gold);
  flex-direction: row;
  padding: 0.21rem 0.39rem 0.2rem 0.4rem;
  text-align: center;
  font-size: 0.61rem;
  color: var(--color-white);
}
.gridcell23,
.gridcell29,
.rowgroup {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gridcell29 {
  top: calc(50% - 8.77px);
  left: 79.23rem;
  border-radius: var(--br-9xs);
  background-color: var(--color-seagreen);
  flex-direction: row;
  padding: 0.21rem 0.34rem 0.2rem 0.4rem;
  text-align: center;
  font-size: 0.61rem;
  color: var(--color-white);
}
.rowgroup {
  top: 3.25rem;
  left: 0;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 0;
  font-size: var(--font-size-smi);
}
.table1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}
.divcard15,
.divsc-dmrapn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divsc-dmrapn {
  overflow: hidden;
  flex-direction: row;
  font-size: var(--font-size-xs);
}
.divcard15 {
  position: absolute;
  top: 139.39rem;
  left: 0.75rem;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  flex-direction: column;
  padding: var(--padding-base) var(--padding-mid) 1.06rem;
  gap: 2.01rem;
}
.divcontainer-xxl {
  position: relative;
  width: 97.5rem;
  height: 185.1rem;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.divmain {
  top: 0;
  left: 17.81rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2.34rem var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.5rem;
}
.divmain,
.ebazar,
.icon9 {
  position: absolute;
}
.icon9 {
  top: 0.46rem;
  left: 0;
  width: 1.64rem;
  height: 1.64rem;
  overflow: hidden;
}
.ebazar {
  top: 0.5rem;
  left: 2.57rem;
  line-height: 1.69rem;
}
.icon10,
.link1 {
  position: absolute;
  left: 0;
}
.link1 {
  top: 0;
  width: 13.25rem;
  height: 2.25rem;
}
.icon10 {
  top: 0.67rem;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
}
.dashboard {
  position: absolute;
  top: 0.5rem;
  left: 1.88rem;
  line-height: 1.59rem;
}
.item-link {
  position: relative;
  width: 13.25rem;
  height: 2.59rem;
}
.icon12 {
  position: absolute;
  top: 0.67rem;
  left: 12rem;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  opacity: 0.3;
}
.icon23 {
  top: 0.77rem;
  left: 0;
  width: 1.06rem;
  height: 1.06rem;
}
.button-icon2,
.icon23,
.list {
  position: absolute;
  overflow: hidden;
}
.list {
  top: 3.25rem;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 18.56rem;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-mid);
}
.button-icon2 {
  top: 54.94rem;
  left: 5.81rem;
  width: 2.13rem;
  height: 2.13rem;
}
.divd-flex4 {
  position: absolute;
  height: calc(100% - 48px);
  top: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  width: 13.25rem;
}
.divmainsidemenu {
  position: absolute;
  top: 1.56rem;
  left: 1.56rem;
  border-radius: 17.6px;
  background-color: var(--color-mediumslateblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 16.25rem;
  height: 61rem;
  overflow: hidden;
  font-size: 1.13rem;
  color: var(--color-white);
  z-index: 9999;
  
  
}
.divebazar-layout {
  top: 0;
  width:100%;
  
}
.body,
.divebazar-layout,
.iframe {
  position: relative;
  margin-left: 6rem;
  
  height: 100%;
  width:100%;
}
.body {
  top: 0;
  background-color: #f9fbfd;
  width:100%;
  
}
.iframe {
  top: 3.44rem;
  right: 0;
  background-color: var(--color-white);
  font-size: 1.25rem;
  color: #bdbdbd;
  font-family: var(--font-open-sans);
}
.previewthemeforestnet-by-htm {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 68rem;
  text-align: left;
  font-size: var(--font-size-xs);
  color: #00e;
  font-family: var(--font-liberation-sans);
}
